.carousel-inner {
  background: url("assets/img/29.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 85%;
}

.carousel-item {
  height: 740px;
  padding: 180px 0;
}
.nav-link:hover {
  color: #81f3fe !important;
}

.fs-h3 {
  font-size: 1.5em;
  font-weight: 500;
}
.fs-small {
  font-size: 0.8rem;
}

.fs-bigger {
  font-size: 1.2rem;
}

.footer-line1 {
  height: 5px;
}
.footer-line2 {
  height: 10px;
}

p {
  padding: 0;
  margin: 0;
}

.location {
  line-height: 70%;
}
.contact {
  width: 100%;
}

.menu:hover {
  cursor: pointer;
}
.cartCounter {
  background-color: #55b1bc;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  right: 5px;
  color: white;
  font-size: 0.9rem;
  font-weight: bolder;
}

.hidden{
  display:none
}
@media screen and (max-width: 992px) {
  .footer-item {
    display: flex;
    justify-content: left;
    margin-left: 20vh;
    margin-bottom: 20px;
  }
  .contact {
    width: 75%;
  }
}
