.carousel-inner {
  background: url("assets/img/29.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 85%;
}

#item-carousel .carousel-inner {
  background: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  display: flex;
  align-items: center;
}
#item-carousel .carousel-control-next-icon,
#item-carousel .carousel-control-prev-icon {
  margin: 2px;
  background-color: #373a3c;
  border-radius: 5px;
}

.carousel-indicator {
  background-color: #639297 !important;
}

#item-carousel .carousel-item {
  height: auto;
  padding: 0;
}

.carousel-item {
  height: 740px;
  padding: 180px 0;
}

#video-carousel .carousel-inner {
  background: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
}
#video-carousel .carousel-item {
  height: auto;
  padding: 0;
}

#chevron-right {
  transform: rotate(180deg);
}

.nav-link:hover {
  color: #81f3fe !important;
}

.fs-h3 {
  font-size: 1.5em;
  font-weight: 500;
}

.fs-h2 {
  font-size: 1.2rem;
  font-weight: 100;
}
.fs-small {
  font-size: 0.8rem;
}

.fs-bigger {
  font-size: 1.2rem;
}

.footer-line1 {
  height: 5px;
}
.footer-line2 {
  height: 10px;
}

p {
  padding: 0;
  margin: 0;
}

.location {
  line-height: 70%;
}
.contact {
  width: 100%;
}

.menu {
  position: relative;
  cursor: pointer;
  height: 56px !important;
}

#cartBox{
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
} 

.cartCounter,.productCounter {
  background-color: #55b1bc;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: -5px;
  color: white;
  font-size: 0.9rem;
  font-weight: bolder;
}

.productSize{
  background-color: #55b1bc;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  left:-5px ;
  color: white;
  font-size: 0.9rem;
  font-weight: bolder;
}

.productColor{
  /* background-color: #55b1bc; */
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  left: 50%; 
  transform: translateX(-50%) ;                           
  color: white;
  font-size: 0.9rem;
  font-weight: bolder;
}
.productColor-red{
  background-color: red;
}

.cartButton:hover {
  filter: invert(13%) sepia(97%) saturate(6072%) hue-rotate(359deg)
    brightness(110%) contrast(110%);
}

.cart-box {
  width: 30px;
  position: relative;
}

.pagination-item {
  color: #494949;
}

.pagination:hover{
  cursor:pointer;
}

.pagination-item:hover {
  color: #55b1ba;
  border-color: #55b1ba;
  background-color: transparent;
}

.dropdown-head,
.dropdown-body {
  cursor: pointer;
}

.category-element:hover .categories-count {
  background-color: #55b1ba;
}

.category-element .categories-count {
  background-color: #646464;
  max-width: 35px !important;
}

.category-element:hover {
  border-color: #55b1ba !important;
  color: #55b1ba !important;
}

.category-element-active{
  border-color: #55b1ba !important;
  color: #55b1ba !important;
  
}

.category-element-active .categories-count {
  background-color: #55b1ba;
  max-width: 35px !important;
}



#filtersDropdownBody h6 {
  margin-top: 5vh;
}

select {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  color: #494949;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #cecece;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

input[type="chceckbox"]:checked {
  background-color: #55b1bc;
}

input[type="checkbox"]:checked:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  width: 100%;
  border-radius: 3px;
  background-color: #55b1bc;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  background-color: #55b1bc;
}

label {
  margin: 0 5px;
}

#main-hero {
  background-image: url("assets/img/2713.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-hero-cover {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.hero {
  height: 500px;
}

.card-heart {
  position: absolute;
  top: 15px;
  right: 15px;
  filter: invert(100%) sepia(0%) saturate(1777%) hue-rotate(234deg)
    brightness(86%) contrast(74%);
  display: none;
  cursor: pointer;
}

.card-heart-fav{
  position: absolute;
  top: 15px;
  right: 15px;
  filter: invert(19%) sepia(32%) saturate(7344%) hue-rotate(354deg) brightness(111%) contrast(143%);
  display: block;
  cursor: pointer;
}

.card-cart {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 7px;
  width: 20%;
  border: 1px solid black;
  filter: invert(70%) sepia(14%) saturate(1239%) hue-rotate(137deg)
    brightness(87%) contrast(94%);
  border-radius: 5px;
  display: none;
  cursor: pointer;
  max-width: 55px;
}

.card:hover .card-cart,
.card:hover .card-heart {
  display: block;
}
.card {
  border: 1px solid transparent;
  border-radius: 5px;
}

.card:hover {
  border: 1px solid #c4c4c4;
}

.carousel-left {
  position: absolute;
  left: -7px;
}

.carousel-right {
  position: absolute;
  right: -7px;
}

a {
  color: #55b1ba;
}

.card-img-top {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 2rem;
}

.cart-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0;
}

.image-container {
  position: relative;
  padding-bottom: 100%;
}

.price-striked {
  color: tomato;
  text-decoration: line-through;
  font-size: 0.8rem;
}

.normal-price {
  margin-top: 1.2rem;
}

.card-title {
  height: 64.8px;
}

.productSpec:nth-child(odd) {
  background-color: #f1f1f1;
  border-top: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
}

.productSpec:nth-child(even) {
  background-color: white;
  border: none;
}

.carousel-next-product{
  background-image: url("svg\\chevron-pointing-to-the-left.svg");
  background-color:transparent !important;
  transform: rotate(180deg);

}

.carousel-prev-product{
  background-image: url("svg\\chevron-pointing-to-the-left.svg");
  background-color:transparent !important;

}




@media screen and (max-width: 992px) {
  .footer-item {
    display: flex;
    justify-content: left;
    margin-left: 20vh;
    margin-bottom: 20px;
  }
  .contact {
    width: 75%;
  }
  #cartBox{
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 767px) {
  .card:hover .card-cart,
  .card:hover .card-heart {
    display: none;
  }
  .caorusel-video {
    display: none;
  }
  .footer-item {
    display: flex;
    justify-content: left;
    margin-left: 5vh;
    margin-bottom: 20px;
  }
}
